<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>There are <%= data.fresh_water_count %> varieties of fresh water fish currently in stock.</p>
    <p>There are <%= data.salt_water_count %> varieties of salt water fish currently in stock.</p>
  </body>
</html>
