<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= item_display.name %></h1>
    <p><%= item_display.description %></p>
    <p><%= item_display.category.name %> Fish</p>
    <p>$<%= item_display.price %></p>
    <p><%= item_display.stock %> in Stock</p>
  </body>
</html>
