<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Item</h1>

    <div class="navigation">
      <p><a href="/">Home</a></p>
      <p><a href="/items">All Items</a></p>
    </div>

    <% if (typeof errors !== 'undefined') { %>
      <div class="form-errors">
        <p>Form submission failed with the following errors:</p>
        <ul>
          <% for (let i = 0; i < errors.length; i++) { %>
            <li><%= errors[i].msg %></li>
          <% } %>
        </ul>
      </div>
    <% } %>

    <% if (typeof new_item !== 'undefined') { %>
      <form action="/items/new" method="POST">
        <label for="item_name">Name</label>
        <input id="item_name" type="text" name="item_name" value="<%= new_item.name %>">
        <label for="item_description">Description</label>
        <input id="item_description" type="text" name="item_description" value="<%= new_item.description %>">
        <label for="item_category">Category</label>
        <select name="item_category">
          <% for (let i = 0; i < category_list.length; i++) { %>
            <% if (category_list[i].id == new_item.category) { %>
              <option value=<%= category_list[i].id %> selected>
                <%= category_list[i].name %>
              </option>
            <% } else { %>
              <option value=<%= category_list[i].id %>>
                <%= category_list[i].name %>
              </option>
            <% } %>
          <% } %>
        </select>
        <label for="item_price">Price</label>
        <input id="item_price" type="number" name="item_price" min="0" max="1000000" step="0.01" value=<%= new_item.price %>>
        <label for="item_stock">Stock Count</label>
        <input id="item_stock" type="number" name="item_stock" min="1" max="1000000" value=<%= new_item.stock %>>
        <input type="submit" value="Add">
      </form>
    <% } else { %>
      <form action="/items/new" method="POST">
        <label for="item_name">Name</label>
        <input id="item_name" type="text" name="item_name">
        <label for="item_description">Description</label>
        <input id="item_description" type="text" name="item_description">
        <label for="item_category">Category</label>
        <select name="item_category">
          <% for (let i = 0; i < category_list.length; i++) { %>
            <option value=<%= category_list[i].id %>>
              <%= category_list[i].name %>
            </option>
          <% } %>
        </select>
        <label for="item_price">Price</label>
        <input id="item_price" type="number" name="item_price" min="0" max="1000000" step="0.01">
        <label for="item_stock">Stock Count</label>
        <input id="item_stock" type="number" name="item_stock" min="1" max="1000000">
        <input type="submit" value="Add">
      </form>
    <% } %>
  </body>
</html>
